body{
    background-color: white;
    font-family: system-ui, sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 20px;

    overflow: auto;
}

header{
    background-color: #7A0019;
    color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 85%;

    display: flex;
    align-items: center;
    justify-content: center;

    word-wrap: break-word;
}

h1{
    font-size: 70px;
    font-weight: normal;
}

fieldset{
    border: none;
    column-gap: 10px;
    background-color: gainsboro;
    padding: 10px;

    position: fixed;
    top: 15%;
    left: 25%;
    right: 25%;
    bottom: 0;
}

.box{
    display: inline-block;
    text-align: left;
    position: relative;
    top: 25%;
    padding: 5px;
    margin: 10px 0;
}

.box label{
    position: absolute;
    top: 0;
    left: 10px;
    margin: 0;
}

.box input[type="text"],
.box input[type="password"],
.box input[type="email"]{
    border: none;
    width: 300px;
    height: 30px;
    font-size: 20px;
}

.box input[type="checkbox"] + label{
    position: relative;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: dodgerblue;
    font-size: 15px;
}

a:hover{
    color: royalblue;
}

.button{
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(+35%);

    width: 150px;
    height: 45px;
    font-size: 20px;
}

#error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

@media (max-width: 800px) {
    .button {
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

    header{
        bottom: 70%;
    }

    fieldset{
        top: 30%
    }
}

@media (max-width: 400px) {
    header{
        bottom: 50%;
    }

    fieldset{
        top: 50%
    }
}

@media (max-width: 350px) {
    header{
        bottom: 5%;
    }

    fieldset{
        top: 95%
    }
}