/* Ogólny styl dla całego dokumentu */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
/* Kontener dla całej zawartości strony */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
/* Styl zawartości strony */
.content {
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    overflow-y: auto;
    max-height: calc(100vh - 8vh); /* Maksymalna wysokość kontenera minus wysokość nagłówka */
}
/* Kontener dla zawartości, który zapewnia odpowiednie odstępy */
.contentContainer {
    margin-left: 9vh;
    max-width: calc(100% - 18vh); /* Szerokość kontenera zmniejszona o szerokość panelu bocznego */
    height: calc(100vh - 8vh); /* Maksymalna wysokość kontenera minus wysokość nagłówka */
}
/* Styl pojedynczego postu */
.post {
    border: 1px solid #464545;
    text-align: left;
    padding: 15px;
    margin-bottom: 10px; /* Zmniejszono margines między postami */
    border-radius: 0.5em;
    height: 20%; /* Zmniejszono wysokość postu */
    position: relative;
    width: 40em; /* Zmniejszono szerokość postu */
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #AFAEAE; /* Kolor tła postu */
}
.postHead{
    display: flex;
    justify-content: space-between;
}
.postHead p{
    margin:0;
    padding: 0;
}
.postTitle {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-size: 1.2em; /* Zmieniono rozmiar tytułu postu */
}
.postAuthorName{
    margin-top: 1.5em;
    margin-bottom: 0.1em;
}
.postDate{
    font-size: 14px;
}
.postBody {
    margin-top: 1em; /* Mniejszy odstęp od treści postu */
    margin-bottom: 0;
    padding: 0;
    line-height: 1.4;
    font-size: 0.9em; /* Zmieniono rozmiar tekstu w postach */
}
.post .actions {
    text-align: right;
    display: flex; 
    flex-direction:row;
    justify-content:space-between;
    margin-top: 1em;
}
.actions .actionContainer {
    display: flex;
    width: 100%;
    flex-direction:row;
    justify-content:space-between;
}
.postTakePart{
    cursor: pointer;   
}
.moreActions {
    margin-left: 10px;   
    /* display: flex; */
    flex-direction:row;
    justify-content:space-between;
    display: block;
}
.selectAction {
    margin-right: 2px;
    display: block;
}
.commentList {
    margin-top: 10px;
    max-height: 30em; /* Ograniczenie wysokości sekcji komentarzy */
    overflow-y: auto; /* Dodanie przewijania */
    border-top: 2px solid rgb(92, 86, 86);
    display: block;
}
.comment {
    padding: 1px;
    margin-bottom: 5px; /* Mniejsza odległość między komentarzami */
    margin-top: 8px; /* Mniejsza odległość między komentarzami */
    border-bottom: 1px solid rgb(92, 86, 86);
}
.comment:last-of-type {
    border-bottom: none;
}
.comment:last-of-type .commentText{
    margin-bottom: 0;
}
.commentHead{
    display: flex;
    justify-content:space-between;
}
.commentDate{
    margin: 0;
    font-size: 14px;
}
.commentAuthor{
    margin: 0;
}


.addCommentForm{
    margin-top: 10px;
}
.commentButton {
    margin: 0;
    color: #7A0019 !important;
    display: block;
    /* display: flex; */
}
.commentButton:visited{
    color: #7A0019 !important;
}
.addCommentButton{
    font-size: small;
    display: block;
    margin: 0;
    margin-top: 0.5em;
}
.addCommentTextarea{
    width: 95%;
    background-color: #c7c6c6;
}
.clear {
    clear: both;
}
/* Styl dla przycisku dodawania postów */
.addPostButton {
    position: fixed !important;
    bottom: 8vh;
    right: 8vh;
    padding: 0.1em 0.4em;
    cursor: pointer;
    font-size: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@keyframes addPostShow {
    0%   {top: 150%;}
    100% {top: 50%;}
}
@keyframes addPostHide {
    0%   {top: 50%;}
    100% {top: 150%;}
}

/* Styl dla formularza dodawania postów */
.addPostForm {
    display: block;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    z-index: 2;
    animation-name: addPostShow;
    animation-duration: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.addPostFormHide{
    animation-name: addPostHide;
    animation-duration: 0.5s;

}

.addPostForm label {
    display: block;
    margin-bottom: 5px;
}
.addPostForm input[type="text"],
.addPostForm textarea,
.addPostForm select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.addPostForm button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.addPostForm button[type="submit"]:hover {
    background-color: #0056b3;
}
#postFormIsEvent{
    display: flex;
    justify-content:left;
    margin-top: 1em;
}
#postFormIsEventCheckbox{
    margin-left: 1em;
}
#postEventDate{
    width: 100%;
}

#postFormIsEventLabel{
    cursor: pointer;
}