<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>Politechnika Łódzka | Ekran Logowania</title>
        <link rel="stylesheet" href="/static/css/ekran logowania.css" />
        <link rel="icon" href="/static/images/ikonka.png" type="image/x-icon">
    </head>

    <body>
        <header> <h1>Czas na PŁ!</h1> </header>

        <form action = "/api/login">
            <fieldset>
                <div class="box">       
                    Na podany adres e-mail został wysłany link do resetowania hasła.
                    Prosimy sprawdzić swoją skrzynkę odbiorczą.
                    Jeśli nie otrzymałeś e-maila w ciągu kilku minut, upewnij się, że sprawdziłeś folder ze spamem.
                </div>

                <br>
                <br>
                <div class="box">
                    <button type = "submit" class="button">Powrót</button> 
                </div>

                <br>
                <br>
                <br>
                <div class="box">
                    <img src="/static/images/logo.png" alt="Logo">
                </div>
            </fieldset>
        </form>

    </body>

</html>