<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>Politechnika Łódzka | Ekran Logowania</title>
        <link rel="stylesheet" href="/static/css/ekran logowania.css" />
        <link rel="icon" href="/static/images/ikonka.png" type="image/x-icon">
    </head>

    <body>
        <header> <h1>Czas na PŁ!</h1> </header>

        <form  action = "/api/reset-password" method="post">
            <fieldset>
                <div class="box">       
                    <label for="email">Podaj swój e-mail</label>
                    <br>
                    <input type="email" id="email" name="email" required>
                </div>

                <br>
                <br>
                <div class="box">
                    <button type = "submit" class="button">Wyślij</button>
                </div>

                <br>
                <br>
                <br>
                <div class="box">
                    <img src="/static/images/logo.png" alt="Logo">
                </div>
            </fieldset>
        </form>

    </body>

</html>