<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>Politechnika Łódzka | Ekran Logowania</title>
        <link rel="stylesheet" href="/static/css/ekran logowania.css" />
        <link rel="icon" href="/static/images/ikonka.png" type="image/x-icon">
    </head>

    <body>
        <header> <h1>Czas na PŁ!</h1> </header>

        <form action = "/api/login">
            <fieldset>
                <div class="box">       
                    Hasło pomyślnie zresetowane.
                </div>

                <br>
                <br>
                <div class="box">
                    <button id="other-button" type = "submit" class="button">Powrót</button> 
                </div>

                <br>
                <br>
                <br>
                <div class="box">
                    <img src="/static/images/logo.png" alt="Logo">
                </div>
            </fieldset>
        </form>
        <audio id="click-sound" src="/static/sounds/dziwekPrzeskoku.m4a" preload="auto"></audio>
        <script src="/static/js/other-sound.js"></script>

    </body>

</html>