<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>Politechnika Łódzka | Ekran Logowania</title>
        <link rel="stylesheet" href="/static/css/ekran logowania.css" />
        <link rel="icon" href="/static/images/ikonka.png" type="image/x-icon">
    </head>

    <body>
        <header> <h1>Czas na PŁ!</h1> </header>

        <form action = "/">
            <fieldset>
                <div class="item">       
                    Poniżej znajduje się krótki samouczek, który pomoże Ci w nawigacji po stronie.
                </div>
                <br>
                <div class="item">
                    <img src="/static/images/Terminarz.png" alt="Logo">
                    <span>Terminarz - znajdziesz tam zaplanowane przez siebie aktywności</span>
                    
                </div>


                <br>
                <div class="item">
                    <img src="/static/images/Plan zajec.png" alt="Logo">
                    <span>Plan zajęć - znajdziesz tam plany zajęć swojego kierunku</span>
                </div>

                <br>
                <div class="item">
                    <img src="/static/images/Tablica.png" alt="Logo">
                    <span>Tablica ogłoszeń - ogłoszenia, pytania i oferty</span>
                    <button id="other-button" type = "submit" class="button">Dalej</button>
                </div>
                <br>
                <div class="item">
                    <img src="/static/images/Wydarzenia.png" alt="Logo">
                    <span>Wydarzenia na PŁ - oficjalne wydarzenia na uczelni</span>
                </div>
                <br>
                <div class="item">
                    <img src="/static/images/Ustawienia.png" alt="Logo">
                    <span>Ustawienia - personalizacja, zarządzanie</span>
                </div>
                <br>
                <div class="box">
                    <img src="/static/images/logo.png" alt="Logo">
                </div>
            </fieldset>
        </form>

        <audio id="click-sound" src="/static/sounds/dziwekPrzeskoku.m4a" preload="auto"></audio>
        <script src="/static/js/other-sound.js"></script>

    </body>

</html>